body {
  font-size: 18px;
  margin: 0;
}
body::-webkit-scrollbar-button {
  background: url('') no-repeat;
  width: 0;
  height: 0;
}
body::-webkit-scrollbar-track {
  background-color: #444;
}
body::-webkit-scrollbar-thumb {
  background: #f6f6f6 no-repeat center;
}
body::-webkit-scrollbar {
  width: 11px;
}
body ::-webkit-scrollbar-button {
  background: url('') no-repeat;
  width: 0;
  height: 0;
}
body ::-webkit-scrollbar-track {
  background-color: #444;
}
body ::-webkit-scrollbar-thumb {
  background: #f6f6f6 no-repeat center;
}
body ::-webkit-scrollbar {
  width: 11px;
}
body.dark {
  background-color: #111;
}
body.dark .menu {
  background-color: #333;
}
body.dark .menu .menu-link,
body.dark .menu button {
  background-color: #444;
}
body.dark .menu .menu-link a,
body.dark .menu button a,
body.dark .menu .menu-link button,
body.dark .menu button button {
  color: #aaa;
}
body.dark .menu .menu-link input,
body.dark .menu button input {
  /* Firefox 19+ */
  /* Firefox 18- */
  background-color: #2b2b2b;
  color: #aaa;
}
body.dark .menu .menu-link input::-webkit-input-placeholder,
body.dark .menu button input::-webkit-input-placeholder {
  color: #5e5e5e;
}
body.dark .menu .menu-link input::-moz-placeholder,
body.dark .menu button input::-moz-placeholder {
  color: #5e5e5e;
}
body.dark .menu .menu-link input:-moz-placeholder,
body.dark .menu button input:-moz-placeholder {
  color: #5e5e5e;
}
body.dark .menu .menu-link:hover,
body.dark .menu button:hover {
  background-color: #2b2b2b;
}
body.dark .menu .menu-link.disabled a,
body.dark .menu button.disabled a {
  color: #5e5e5e;
  background-color: #444;
}
body.dark .menu .menu-link.active a,
body.dark .menu button.active a {
  color: #444;
  background-color: #aaa;
}
body.dark .environment {
  color: #aaa;
  background-color: #111;
}
body.dark .environment .number {
  color: #f6f6f6;
}
body.dark .environment textarea {
  color: #aaa;
  background-color: #111;
}
body.dark .environment input {
  border: 2px solid #333;
  background-color: #444;
  color: #aaa;
}
body.dark .environment input:hover {
  background-color: #2b2b2b;
}
body.dark .environment input.disabled {
  color: #5e5e5e;
  background-color: #444;
}
body.dark .environment input.text-input {
  background-color: #111;
}
body.dark .environment input.text-input:hover {
  background-color: #111;
}
body.dark .environment .Block,
body.dark .environment .Block2,
body.dark .environment .subBlock {
  border: 2px solid #333;
}
body.dark .environment .error .number {
  color: #b00;
}
body.dark .environment .onIndex {
  background-color: #444;
}
body.dark .environment .column p {
  border: 2px solid #333;
  border-bottom: none;
}
body.dark .environment .column p:last-child {
  border-bottom: 2px solid #333;
}
body::-webkit-scrollbar-button {
  background: url('') no-repeat;
  width: 0;
  height: 0;
}
body::-webkit-scrollbar-track {
  background-color: #bbb;
}
body::-webkit-scrollbar-thumb {
  background: #56f no-repeat center;
}
body::-webkit-scrollbar {
  width: 11px;
}
body ::-webkit-scrollbar-button {
  background: url('') no-repeat;
  width: 0;
  height: 0;
}
body ::-webkit-scrollbar-track {
  background-color: #bbb;
}
body ::-webkit-scrollbar-thumb {
  background: #56f no-repeat center;
}
body ::-webkit-scrollbar {
  width: 11px;
}
body.light {
  background-color: #eee;
}
body.light .menu {
  background-color: #777;
}
body.light .menu .menu-link,
body.light .menu button {
  background-color: #bbb;
}
body.light .menu .menu-link a,
body.light .menu button a,
body.light .menu .menu-link button,
body.light .menu button button {
  color: #111;
}
body.light .menu .menu-link input,
body.light .menu button input {
  /* Firefox 19+ */
  /* Firefox 18- */
  background-color: #d4d4d4;
  color: #111;
}
body.light .menu .menu-link input::-webkit-input-placeholder,
body.light .menu button input::-webkit-input-placeholder {
  color: #5e5e5e;
}
body.light .menu .menu-link input::-moz-placeholder,
body.light .menu button input::-moz-placeholder {
  color: #5e5e5e;
}
body.light .menu .menu-link input:-moz-placeholder,
body.light .menu button input:-moz-placeholder {
  color: #5e5e5e;
}
body.light .menu .menu-link:hover,
body.light .menu button:hover {
  background-color: #d4d4d4;
}
body.light .menu .menu-link.disabled a,
body.light .menu button.disabled a {
  color: #5e5e5e;
  background-color: #bbb;
}
body.light .menu .menu-link.active a,
body.light .menu button.active a {
  color: #bbb;
  background-color: #111;
}
body.light .environment {
  color: #111;
  background-color: #eee;
}
body.light .environment .number {
  color: #56f;
}
body.light .environment textarea {
  color: #111;
  background-color: #eee;
}
body.light .environment input {
  border: 2px solid #777;
  background-color: #bbb;
  color: #111;
}
body.light .environment input:hover {
  background-color: #d4d4d4;
}
body.light .environment input.disabled {
  color: #5e5e5e;
  background-color: #bbb;
}
body.light .environment input.text-input {
  background-color: #eee;
}
body.light .environment input.text-input:hover {
  background-color: #eee;
}
body.light .environment .Block,
body.light .environment .Block2,
body.light .environment .subBlock {
  border: 2px solid #777;
}
body.light .environment .error .number {
  color: #f00;
}
body.light .environment .onIndex {
  background-color: #bbb;
}
body.light .environment .column p {
  border: 2px solid #777;
  border-bottom: none;
}
body.light .environment .column p:last-child {
  border-bottom: 2px solid #777;
}
body::-webkit-scrollbar-button {
  background: url('') no-repeat;
  width: 0;
  height: 0;
}
body::-webkit-scrollbar-track {
  background-color: #313335;
}
body::-webkit-scrollbar-thumb {
  background: #79c no-repeat center;
}
body::-webkit-scrollbar {
  width: 11px;
}
body ::-webkit-scrollbar-button {
  background: url('') no-repeat;
  width: 0;
  height: 0;
}
body ::-webkit-scrollbar-track {
  background-color: #313335;
}
body ::-webkit-scrollbar-thumb {
  background: #79c no-repeat center;
}
body ::-webkit-scrollbar {
  width: 11px;
}
body.elite {
  background-color: #2b2b2b;
}
body.elite .menu {
  background-color: #515658;
}
body.elite .menu .menu-link,
body.elite .menu button {
  background-color: #313335;
}
body.elite .menu .menu-link a,
body.elite .menu button a,
body.elite .menu .menu-link button,
body.elite .menu button button {
  color: #cb7832;
}
body.elite .menu .menu-link input,
body.elite .menu button input {
  /* Firefox 19+ */
  /* Firefox 18- */
  background-color: #2b2b2b;
  color: #cb7832;
}
body.elite .menu .menu-link input::-webkit-input-placeholder,
body.elite .menu button input::-webkit-input-placeholder {
  color: #5e5e5e;
}
body.elite .menu .menu-link input::-moz-placeholder,
body.elite .menu button input::-moz-placeholder {
  color: #5e5e5e;
}
body.elite .menu .menu-link input:-moz-placeholder,
body.elite .menu button input:-moz-placeholder {
  color: #5e5e5e;
}
body.elite .menu .menu-link:hover,
body.elite .menu button:hover {
  background-color: #2b2b2b;
}
body.elite .menu .menu-link.disabled a,
body.elite .menu button.disabled a {
  color: #5e5e5e;
  background-color: #313335;
}
body.elite .menu .menu-link.active a,
body.elite .menu button.active a {
  color: #313335;
  background-color: #cb7832;
}
body.elite .environment {
  color: #cb7832;
  background-color: #2b2b2b;
}
body.elite .environment .number {
  color: #79c;
}
body.elite .environment textarea {
  color: #cb7832;
  background-color: #2b2b2b;
}
body.elite .environment input {
  border: 2px solid #515658;
  background-color: #313335;
  color: #cb7832;
}
body.elite .environment input:hover {
  background-color: #2b2b2b;
}
body.elite .environment input.disabled {
  color: #5e5e5e;
  background-color: #313335;
}
body.elite .environment input.text-input {
  background-color: #2b2b2b;
}
body.elite .environment input.text-input:hover {
  background-color: #2b2b2b;
}
body.elite .environment .Block,
body.elite .environment .Block2,
body.elite .environment .subBlock {
  border: 2px solid #515658;
}
body.elite .environment .error .number {
  color: #f40;
}
body.elite .environment .onIndex {
  background-color: #444;
}
body.elite .environment .column p {
  border: 2px solid #515658;
  border-bottom: none;
}
body.elite .environment .column p:last-child {
  border-bottom: 2px solid #515658;
}
.sausage {
  display: inline;
}
.menu {
  font-size: 18px;
  font-family: "Lucida Console", "Arial", sans-serif;
  padding: 0.5em;
  width: 15em;
  margin: 5% 5%;
}
.menu ul {
  position: absolute;
  left: 17em;
  top: 0;
}
.menu .menu-link {
  cursor: pointer;
  list-style-type: none;
  margin-bottom: 0.5em;
  height: 2em;
}
.menu .menu-link a,
.menu .menu-link label,
.menu .menu-link input {
  border: none;
  font: inherit;
  display: block;
  height: 1em;
  text-decoration: none;
  padding: 0.5em;
  width: 14em;
}
.menu .menu-link button {
  text-align: left;
  font: inherit;
  border: none;
  width: 15em;
  height: 2em;
}
.menu .menu-link button.wrong:hover {
  content: attr(data-error);
  /* Выводим текст */
  color: red;
}
.menu .menu-link button:focus {
  outline: none;
}
.menu .menu-link:last-child {
  margin-bottom: 0;
}
.environment {
  margin: 15px 10px;
  min-height: 700px;
}
.environment td.str-num {
  max-height: 351px;
  display: block;
  overflow: scroll;
}
.environment td.str-num::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.environment table {
  width: 100%;
}
.environment table textarea {
  width: 20em;
  height: 22em;
  border-style: none;
  text-transform: uppercase;
  font-size: 12pt;
  font-family: "Consolas", monospace;
  font-weight: bold;
  padding: 0;
  resize: none;
}
.environment table textarea:focus {
  outline: none;
}
.environment p {
  font-size: 12pt;
  font-family: "Consolas", monospace;
  font-weight: bold;
  margin: 0;
}
.environment input {
  display: inline-block;
  box-sizing: border-box;
  width: 60px;
  height: 30px;
  font-weight: bold;
  font-family: "Consolas", monospace;
  font-size: 12pt;
  margin: 5px;
}
.environment input:focus {
  outline: none;
}
.environment .Block {
  margin: 5px;
  padding: 5px;
  float: left;
}
.environment .Block2 {
  max-width: 450px;
  margin: 5px;
  padding: 5px;
  float: left;
}
.environment .subBlock {
  min-width: 110px;
  padding: 5px;
  margin: 5px;
}
.environment .column {
  vertical-align: top;
  width: 56px;
  display: inline-block;
  margin: 5px;
}
.environment .column .head {
  text-align: center;
}
.environment .column p {
  height: 19px;
}
