# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/.name
.idea/copyright/
.idea/dictionaries/
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/jsLibraryMappings.xml
.idea/jsLinters/
.idea/misc.xml
.idea/modules.xml
.idea/watcherTasks.xml
.idea/workspace.xml
angular/angular-route.min.js
