h1 {
  color: #56f;
  background-color: #949df3;
}
body {
  margin: 0;
}
body::-webkit-scrollbar-button {
  background: url('') no-repeat;
  width: 0;
  height: 0;
}
body::-webkit-scrollbar-track {
  background-color: #444;
}
body::-webkit-scrollbar-thumb {
  background: #f6f6f6 no-repeat center;
}
body::-webkit-scrollbar {
  width: 11px;
}
body ::-webkit-scrollbar-button {
  background: url('') no-repeat;
  width: 0;
  height: 0;
}
body ::-webkit-scrollbar-track {
  background-color: #444;
}
body ::-webkit-scrollbar-thumb {
  background: #f6f6f6 no-repeat center;
}
body ::-webkit-scrollbar {
  width: 11px;
}
body.dark {
  background-color: #111;
}
body.dark .menu {
  background-color: #333;
}
body.dark .menu .menu-link {
  background-color: #444;
}
body.dark .menu .menu-link a {
  color: #aaa;
}
body.dark .menu .menu-link:hover {
  background-color: #2b2b2b;
}
body.dark .menu .menu-link.disabled a {
  color: #5e5e5e;
}
body.dark .environment {
  color: #aaa;
  background-color: #111;
}
body.dark .environment .number {
  color: #f6f6f6;
}
body.dark .environment textarea {
  color: #aaa;
  background-color: #111;
}
body.dark .environment input {
  border: 2px solid #333;
  background-color: #444;
  color: #aaa;
}
body.dark .environment input:hover {
  background-color: #2b2b2b;
}
body.dark .environment input.disabled {
  color: #5e5e5e;
  background-color: #444;
}
body.dark .environment input.text-input {
  background-color: #111;
}
body.dark .environment input.text-input:hover {
  background-color: #111;
}
body.dark .environment .Block,
body.dark .environment .Block2,
body.dark .environment .subBlock {
  border: 2px solid #333;
}
body.dark .environment .error .number {
  color: #b00;
}
body.dark .environment .onIndex {
  background-color: #444;
}
body.dark .environment .column p {
  border: 2px solid #333;
  border-bottom: none;
}
body.dark .environment .column p:last-child {
  border-bottom: 2px solid #333;
}
body::-webkit-scrollbar-button {
  background: url('') no-repeat;
  width: 0;
  height: 0;
}
body::-webkit-scrollbar-track {
  background-color: #bbb;
}
body::-webkit-scrollbar-thumb {
  background: #691 no-repeat center;
}
body::-webkit-scrollbar {
  width: 11px;
}
body ::-webkit-scrollbar-button {
  background: url('') no-repeat;
  width: 0;
  height: 0;
}
body ::-webkit-scrollbar-track {
  background-color: #bbb;
}
body ::-webkit-scrollbar-thumb {
  background: #691 no-repeat center;
}
body ::-webkit-scrollbar {
  width: 11px;
}
body.light {
  background-color: #eee;
}
body.light .menu {
  background-color: #777;
}
body.light .menu .menu-link {
  background-color: #bbb;
}
body.light .menu .menu-link a {
  color: #111;
}
body.light .menu .menu-link:hover {
  background-color: #d4d4d4;
}
body.light .menu .menu-link.disabled a {
  color: #444444;
}
body.light .environment {
  color: #111;
  background-color: #eee;
}
body.light .environment .number {
  color: #691;
}
body.light .environment textarea {
  color: #111;
  background-color: #eee;
}
body.light .environment input {
  border: 2px solid #777;
  background-color: #bbb;
  color: #111;
}
body.light .environment input:hover {
  background-color: #d4d4d4;
}
body.light .environment input.disabled {
  color: #444444;
  background-color: #bbb;
}
body.light .environment input.text-input {
  background-color: #eee;
}
body.light .environment input.text-input:hover {
  background-color: #eee;
}
body.light .environment .Block,
body.light .environment .Block2,
body.light .environment .subBlock {
  border: 2px solid #777;
}
body.light .environment .error .number {
  color: #f00;
}
body.light .environment .onIndex {
  background-color: #bbb;
}
body.light .environment .column p {
  border: 2px solid #777;
  border-bottom: none;
}
body.light .environment .column p:last-child {
  border-bottom: 2px solid #777;
}
body::-webkit-scrollbar-button {
  background: url('') no-repeat;
  width: 0;
  height: 0;
}
body::-webkit-scrollbar-track {
  background-color: #56f;
}
body::-webkit-scrollbar-thumb {
  background: #0bb no-repeat center;
}
body::-webkit-scrollbar {
  width: 11px;
}
body ::-webkit-scrollbar-button {
  background: url('') no-repeat;
  width: 0;
  height: 0;
}
body ::-webkit-scrollbar-track {
  background-color: #56f;
}
body ::-webkit-scrollbar-thumb {
  background: #0bb no-repeat center;
}
body ::-webkit-scrollbar {
  width: 11px;
}
body.water {
  background-color: #123;
}
body.water .menu {
  background-color: #146;
}
body.water .menu .menu-link {
  background-color: #56f;
}
body.water .menu .menu-link a {
  color: #fff;
}
body.water .menu .menu-link:hover {
  background-color: #949df3;
}
body.water .menu .menu-link.disabled a {
  color: #ffffff;
}
body.water .environment {
  color: #fff;
  background-color: #123;
}
body.water .environment .number {
  color: #0bb;
}
body.water .environment textarea {
  color: #fff;
  background-color: #123;
}
body.water .environment input {
  border: 2px solid #146;
  background-color: #56f;
  color: #fff;
}
body.water .environment input:hover {
  background-color: #949df3;
}
body.water .environment input.disabled {
  color: #ffffff;
  background-color: #56f;
}
body.water .environment input.text-input {
  background-color: #123;
}
body.water .environment input.text-input:hover {
  background-color: #123;
}
body.water .environment .Block,
body.water .environment .Block2,
body.water .environment .subBlock {
  border: 2px solid #146;
}
body.water .environment .error .number {
  color: #e03;
}
body.water .environment .onIndex {
  background-color: #53a;
}
body.water .environment .column p {
  border: 2px solid #146;
  border-bottom: none;
}
body.water .environment .column p:last-child {
  border-bottom: 2px solid #146;
}
body::-webkit-scrollbar-button {
  background: url('') no-repeat;
  width: 0;
  height: 0;
}
body::-webkit-scrollbar-track {
  background-color: #313335;
}
body::-webkit-scrollbar-thumb {
  background: #79c no-repeat center;
}
body::-webkit-scrollbar {
  width: 11px;
}
body ::-webkit-scrollbar-button {
  background: url('') no-repeat;
  width: 0;
  height: 0;
}
body ::-webkit-scrollbar-track {
  background-color: #313335;
}
body ::-webkit-scrollbar-thumb {
  background: #79c no-repeat center;
}
body ::-webkit-scrollbar {
  width: 11px;
}
body.elite {
  background-color: #2b2b2b;
}
body.elite .menu {
  background-color: #515658;
}
body.elite .menu .menu-link {
  background-color: #313335;
}
body.elite .menu .menu-link a {
  color: #cb7832;
}
body.elite .menu .menu-link:hover {
  background-color: #2b2b2b;
}
body.elite .menu .menu-link.disabled a {
  color: #5e5e5e;
}
body.elite .environment {
  color: #cb7832;
  background-color: #2b2b2b;
}
body.elite .environment .number {
  color: #79c;
}
body.elite .environment textarea {
  color: #cb7832;
  background-color: #2b2b2b;
}
body.elite .environment input {
  border: 2px solid #515658;
  background-color: #313335;
  color: #cb7832;
}
body.elite .environment input:hover {
  background-color: #2b2b2b;
}
body.elite .environment input.disabled {
  color: #5e5e5e;
  background-color: #313335;
}
body.elite .environment input.text-input {
  background-color: #2b2b2b;
}
body.elite .environment input.text-input:hover {
  background-color: #2b2b2b;
}
body.elite .environment .Block,
body.elite .environment .Block2,
body.elite .environment .subBlock {
  border: 2px solid #515658;
}
body.elite .environment .error .number {
  color: #f40;
}
body.elite .environment .onIndex {
  background-color: #444;
}
body.elite .environment .column p {
  border: 2px solid #515658;
  border-bottom: none;
}
body.elite .environment .column p:last-child {
  border-bottom: 2px solid #515658;
}
.menu {
  font-size: 24px;
  font-family: "Lucida Console", "Arial", sans-serif;
  padding: 0.5em;
  width: 20em;
  margin: 10% auto;
}
.menu .menu-link {
  cursor: pointer;
  list-style-type: none;
  margin-bottom: 0.5em;
  height: 2em;
}
.menu .menu-link a {
  display: block;
  height: 1em;
  text-decoration: none;
  padding: 0.5em;
}
.menu .menu-link:last-child {
  margin-bottom: 0;
}
.environment {
  margin: 15px 10px;
  min-height: 700px;
}
.environment td.str-num {
  max-height: 351px;
  display: block;
  overflow: scroll;
}
.environment td.str-num::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.environment table {
  width: 100%;
}
.environment table textarea {
  width: 20em;
  height: 22em;
  border-style: none;
  text-transform: uppercase;
  font-size: 12pt;
  font-family: "Consolas", monospace;
  font-weight: bold;
  padding: 0;
  resize: none;
}
.environment table textarea:focus {
  outline: none;
}
.environment p {
  font-size: 12pt;
  font-family: "Consolas", monospace;
  font-weight: bold;
  margin: 0;
}
.environment input {
  display: inline-block;
  box-sizing: border-box;
  width: 60px;
  height: 30px;
  font-weight: bold;
  font-family: "Consolas", monospace;
  font-size: 12pt;
  margin: 5px;
}
.environment input:focus {
  outline: none;
}
.environment .Block {
  margin: 5px;
  padding: 5px;
  float: left;
}
.environment .Block2 {
  max-width: 450px;
  margin: 5px;
  padding: 5px;
  float: left;
}
.environment .subBlock {
  min-width: 110px;
  padding: 5px;
  margin: 5px;
}
.environment .column {
  vertical-align: top;
  width: 56px;
  display: inline-block;
  margin: 5px;
}
.environment .column .head {
  text-align: center;
}
.environment .column p {
  height: 19px;
}
