@water-background: #171c22;
@water-border: #238;
@water-button: #4f5bff;
@water-text: #ddf;

@light-background: #fff;
@light-border: #747474;
@light-button: #bbb;
@light-text: #111;

@dark-background: #111;
@dark-border: #333;
@dark-button: #444;
@dark-text: #888;






body {
  margin: 0;
  .theme(dark);
  .theme(light);
  .theme(water);
}
.theme(@theme) {
  &.@{theme} {
    background-color: e("@{@{theme}-background}");
    .menu {
      background-color: e("@{@{theme}-border}");
      .menu-link {
        a {
          color: e("@{@{theme}-text}");
        }
        background-color: e("@{@{theme}-button}");
        &:hover {
          background-color: e("@{@{theme}-button}"), rgba(125, 125, 125, 0.2);
        }
        &.disabled a {
          background-color: e("@{@{theme}-button}"), rgba(125, 125, 125, 0.7);
        }
      }
    }

    .editor{
      color: e("@{@{theme}-text}");
      textarea {
        color: e("@{@{theme}-text}");
        background-color: e("@{@{theme}-background}");
      }
      input {
        border: 2px solid e("@{@{theme}-border}");
        background-color: e("@{@{theme}-button}");
        color: e("@{@{theme}-text}");
        &:hover {
          background-color: e("@{@{theme}-button}"), rgba(125, 125, 125, 0.2);
        }
      }
      .Block , .Block2 , .subBlock {
        border: 2px solid e("@{@{theme}-border}");
      }
      background-color: e("@{@{theme}-background}");
      .error {
        color: red;
      }
      .onIndex {
        background-color: e("@{@{theme}-background}"), rgba(125, 125, 125, 0.1);
      }
    }
  }


}


.menu {
  font-size: 24px;
  font-family: "Lucida Console","Arial",sans-serif;
  padding: 0.5em;
  width: 20em;
  margin: 10% auto;
  .menu-link {
    a {
      display: block;
      height: 1em;
      text-decoration: none;
      padding: 0.5em;
    }
    cursor: pointer;
    list-style-type: none;
    margin-bottom: 0.5em;
    height: 2em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.editor{
  min-height: 700px;
  textarea{
    width: 20em;
    height: 444px;
    border-style: none;
    text-transform: uppercase;
    font-size: 12pt;
    font-family: monospace;
    font-weight: bold;
    padding: 0;
    resize: none;
    &:focus{
      outline: none;
    }
  }
  table{
    width: 100%;
  }
  p {
    font-size: 12pt;
    font-family: monospace;
    font-weight: bold;
    margin: 0;
  }
  input {
    width: 60px;
    font-weight: bold;
    font-family: monospace;
    font-size: 12pt;
    margin: 5px;
    &:focus{
      outline: none;
    }
  }

  .Block {
    margin: 5px;
    padding: 5px;
    float: left;
  }
  .Block2 {
    max-width: 450px;
    margin: 5px;
    padding: 5px;
    float: left;
  }
  .subBlock {
    min-width: 110px;
    padding: 5px;
    margin: 5px;
  }
  .column {
    vertical-align: top;
    width: 56px;
    display: inline-block;
    margin: 5px;
    .number{
      padding-left: 10px;
    }
    .head{
      text-align: center;
    }
  }
}




