body {
  margin: 0;
}
body.dark {
  background-color: #111;
}
body.dark .menu {
  background-color: #333;
}
body.dark .menu .menu-link {
  background-color: #444;
}
body.dark .menu .menu-link a {
  color: #888;
}
body.dark .menu .menu-link:hover {
  background-color: #444, rgba(125, 125, 125, 0.2);
}
body.dark .menu .menu-link.disabled a {
  background-color: #444, rgba(125, 125, 125, 0.7);
}
body.dark .editor {
  color: #888;
  background-color: #111;
}
body.dark .editor textarea {
  color: #888;
  background-color: #111;
}
body.dark .editor input {
  border: 2px solid #333;
  background-color: #444;
  color: #888;
}
body.dark .editor input:hover {
  background-color: #444, rgba(125, 125, 125, 0.2);
}
body.dark .editor .Block,
body.dark .editor .Block2,
body.dark .editor .subBlock {
  border: 2px solid #333;
}
body.dark .editor .error {
  color: red;
}
body.dark .editor .onIndex {
  background-color: #111, rgba(125, 125, 125, 0.1);
}
body.light {
  background-color: #fff;
}
body.light .menu {
  background-color: #747474;
}
body.light .menu .menu-link {
  background-color: #bbb;
}
body.light .menu .menu-link a {
  color: #111;
}
body.light .menu .menu-link:hover {
  background-color: #bbb, rgba(125, 125, 125, 0.2);
}
body.light .menu .menu-link.disabled a {
  background-color: #bbb, rgba(125, 125, 125, 0.7);
}
body.light .editor {
  color: #111;
  background-color: #fff;
}
body.light .editor textarea {
  color: #111;
  background-color: #fff;
}
body.light .editor input {
  border: 2px solid #747474;
  background-color: #bbb;
  color: #111;
}
body.light .editor input:hover {
  background-color: #bbb, rgba(125, 125, 125, 0.2);
}
body.light .editor .Block,
body.light .editor .Block2,
body.light .editor .subBlock {
  border: 2px solid #747474;
}
body.light .editor .error {
  color: red;
}
body.light .editor .onIndex {
  background-color: #fff, rgba(125, 125, 125, 0.1);
}
body.water {
  background-color: #171c22;
}
body.water .menu {
  background-color: #238;
}
body.water .menu .menu-link {
  background-color: #4f5bff;
}
body.water .menu .menu-link a {
  color: #ddf;
}
body.water .menu .menu-link:hover {
  background-color: #4f5bff, rgba(125, 125, 125, 0.2);
}
body.water .menu .menu-link.disabled a {
  background-color: #4f5bff, rgba(125, 125, 125, 0.7);
}
body.water .editor {
  color: #ddf;
  background-color: #171c22;
}
body.water .editor textarea {
  color: #ddf;
  background-color: #171c22;
}
body.water .editor input {
  border: 2px solid #238;
  background-color: #4f5bff;
  color: #ddf;
}
body.water .editor input:hover {
  background-color: #4f5bff, rgba(125, 125, 125, 0.2);
}
body.water .editor .Block,
body.water .editor .Block2,
body.water .editor .subBlock {
  border: 2px solid #238;
}
body.water .editor .error {
  color: red;
}
body.water .editor .onIndex {
  background-color: #171c22, rgba(125, 125, 125, 0.1);
}
.menu {
  font-size: 24px;
  font-family: "Lucida Console", "Arial", sans-serif;
  padding: 0.5em;
  width: 20em;
  margin: 10% auto;
}
.menu .menu-link {
  cursor: pointer;
  list-style-type: none;
  margin-bottom: 0.5em;
  height: 2em;
}
.menu .menu-link a {
  display: block;
  height: 1em;
  text-decoration: none;
  padding: 0.5em;
}
.menu .menu-link:last-child {
  margin-bottom: 0;
}
.editor {
  min-height: 700px;
}
.editor textarea {
  width: 20em;
  height: 444px;
  border-style: none;
  text-transform: uppercase;
  font-size: 12pt;
  font-family: monospace;
  font-weight: bold;
  padding: 0;
  resize: none;
}
.editor textarea:focus {
  outline: none;
}
.editor table {
  width: 100%;
}
.editor p {
  font-size: 12pt;
  font-family: monospace;
  font-weight: bold;
  margin: 0;
}
.editor input {
  width: 60px;
  font-weight: bold;
  font-family: monospace;
  font-size: 12pt;
  margin: 5px;
}
.editor input:focus {
  outline: none;
}
.editor .Block {
  margin: 5px;
  padding: 5px;
  float: left;
}
.editor .Block2 {
  max-width: 450px;
  margin: 5px;
  padding: 5px;
  float: left;
}
.editor .subBlock {
  min-width: 110px;
  padding: 5px;
  margin: 5px;
}
.editor .column {
  vertical-align: top;
  width: 56px;
  display: inline-block;
  margin: 5px;
}
.editor .column .number {
  padding-left: 10px;
}
.editor .column .head {
  text-align: center;
}
