<div class="environment">
    <div>
        <span ng-include="'views/runtimeControls.html'"></span>
    <span  ng-show="awaitingInput" ng-controller="consoleInput">
        <input class="text-input" type="text" ng-model="inputText">
        <input type="button" value="input" ng-click="input()">
        <!--TODO добавить верификацию чисел по размеру и возможность ввода в HEX-->
    </span>

    </div>

    <div class="Block">
        <div style="float: left">
            <div class="subBlock">
                <p>REGISTERS<br>AND FLAGS</p>
                <p ng-repeat="(key, value) in proc.registers">{{key}}: <span class="number">{{value | hex | uppercase}}</span></p>
            </div>
        </div>
        <div class="Block">
            <table>
                <tr>
                    <td onscroll="strnum.scrollTop = textarea.scrollTop" id="strnum" class="str-num"  style="vertical-align: top">
                        <p ng-repeat="strNum in proc.operationsData.instructionSet track by $index">
                            <span ng-class="{error: isFalse($index), onIndex: proc.counter == $index}">
                                <span class="number">{{$index | strNum}}:</span>
                            </span>
                        </p>
                    </td>
                    <td  style="vertical-align: top">
                        <textarea onscroll="strnum.scrollTop = textarea.scrollTop" id="textarea" ng-keyup="updateProgram()" ng-model="codeText" id="textArea" ng-trim="false">
                        </textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="Block">
        <div class="subBlock">
            <p>CONSOLE OUTPUT:</p>
            <p ng-repeat="string in proc.output track by $index">{{string}}</p>
        </div>
    </div>
    <br>
</div>
