<div class="editor" ng-class="themes[currentTheme]">

    <div class="controls Block">

    </div>
    <div class="Block">
        <div style="float: left">
            <div class="subBlock">
                <p>SANDBOX<br>MODE</p>
            </div>
            <div class="subBlock">
                <p>REGISTERS<br>AND FLAGS</p>
                <p ng-repeat="(key, value) in proc.registers">{{key}}: {{value | hex | uppercase}}</p>
            </div>
        </div>
        <div style="float: left">
            <div class="subBlock">
                <table>
                    <tr >
                        <td style="vertical-align: top">
                            <p ng-repeat="strNum in proc.operationsData.instructionSet track by $index">
                            <span ng-class="{error: isFalse($index), onIndex: proc.counter == $index}">
                                {{$index | strNum}}:
                            </span>
                            </p>
                        </td>
                        <td style="vertical-align: top">
                        <textarea ng-trim="false" ng-keyup="updateProgram()" ng-model="codeText" id="textArea">
                        </textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="Block">
        <div class="subBlock">
            <p>CONSOLE OUTPUT:</p>
            <p ng-repeat="string in proc.output track by $index">{{string}}</p>
        </div>
    </div>
    <br>
</div>
